/*! modern-base | MIT License | https://github.com/sindresorhus/modern-normalize */


/**
 * Improve font rendering on HiDPI devices.
 */

@media
	screen and (-webkit-min-device-pixel-ratio: 2),
	screen and (min-resolution: 2dppx) {
	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}

/**
 * Remove default spacing.
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dd,
dl,
pre {
	margin: 0;
}

/**
 * Show link underline only on hover.
 */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/**
 * Remove outline on active/hovered focused links.
 */

a:active,
a:hover {
	outline-width: 0;
}

/**
 * Correct the text style of placeholders in Chrome and Safari.
 * See discussion: https://github.com/necolas/normalize.css/issues/550
 */

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

/**
 * Remove text shadow from selections.
 */

::selection {
	background: #b3d7fd;
	text-shadow: none;
}

/**
 * Remove outline from `:focus` pseudo element.
 * Note: Don't forget to apply some styling for the focus state of elements that support it.
 */

:focus {
	outline-width: 0;
}

/**
 * Remove the list style on navigation lists.
 */

nav ol,
nav ul {
	list-style: none;
}

/**
 * Better looking default horizontal rule
 */

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

/**
 * Remove default fieldset styles.
 */

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

/**
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

svg,
img,
canvas,
video,
audio,
iframe {
	/**
	 * Remove the gap between these elements and the bottom of their containers.
	 * See: https://github.com/h5bp/html5-boilerplate/issues/440
	 */
	vertical-align: middle;
	
	/**
	 * Prevent overflow.
	 */
	max-width: 100%;
}
